$primary: #c29b61;
$secondary: #7d7d7d;


%transition { transition: all .3s ease;}

@mixin pd($padding) {
    padding: $padding;
}

@mixin mg($margin) {
    margin: $margin;
}

@mixin bd($border-width,$border-style,$border-color) {
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
}
